.page-main {
  background-color: $navigation-text;
}

.page-main__facts {
  padding: 150px 0 0;

  @media (max-width: $tablet-width) {
    padding: 413px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 431px 0 0;
  }
}

.page-main__facts h2 {
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $footer-bold-text;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }

}

.page-main__facts-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  justify-content: center;
  margin: 0;
  margin-top: 50px;
  padding: 0;

  @media(max-width:$tablet-width){
    gap: 30px;
    width: 560px;
    margin: 30px auto 0;
  }

  @media(max-width:$mobile-width) {
    width: 270px;
  }
}

.page-main__facts-item {
  width: 263px;
  text-align: center;
  padding-bottom: 10px;

  @media(max-width:$mobile-width){
    padding-bottom: 5px;
  }
}

.page-main__facts-number {
  width: 26px;
  height: 22px;
  margin-top: 50px;
}

.page-main__facts-item p {
  margin: 0;
  margin-top: 30px;
  font-size: 22px;
  line-height: 34px;

  @media(max-width:$mobile-width){
    font-size: 18px;
  }
}

.page-main__bike-types {
  background-color: $gray-background;
  margin-top: 131px;
  padding: 149px 0 94px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    margin-top: 70px;
    padding: 50px 0 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.page-main__bike-types h2 {
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $footer-bold-text;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

.page-main__types-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 3.5%;
  justify-content: center;
  margin: 51px 3.5% 0;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

.page-main__types-item {
  position: relative;
  padding-bottom: 50px;
  flex: 0 .3 342px;
}

.page-main__types-decoration {
  position: absolute;
  fill: transparent;

  &--one {
    width: 180px;
    height: 180px;
    left: -60px;
    top: 166px;
  }

  &--two {
    z-index: 1;
    width: 47px;
    height: 47px;
    left: -19px;
    top: 21px;
  }

  &--three {
    z-index: 1;
    width: 47px;
    height: 47px;
    right: -23px;
    bottom: 81px;
  }

  &--four {
    z-index: 1;
    width: 95px;
    height: 95px;
    right: -36px;
    top: -32px;
  }
}

.page-main__type-image-container {
  position: relative;
  border-radius: 10px;

  &--1 {
    margin-top: 10px;
    background: center / cover no-repeat url('../img/Bike_1.jpg');
    height: 503px;
  }
  &--2 {
    background: center / cover no-repeat url('../img/Bike_2.jpg');
    height: 566px;
    margin-top: 39px;
  }
  &--3 {
    background: center / cover no-repeat url('../img/Bike_3.jpg');
    height: 513px;
  }

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
    margin-top: 0;
  }
}

.page-main__types-item h3 {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.page-main__video {
  position: relative;
  background-color: $video-block-background;
  height: 706px;
  padding: 120px 0 0;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    height: 417px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    height: 384px;
    padding-top: 84px;
  }
}

.page-main__video h2 {
  text-align: center;
  margin: 0;
  color: $main-white;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}

.page-main__video p {
  width: 340px;
  text-align: center;
  margin: 20px auto 0;
  color: $main-white;
  opacity: .7;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  @media (max-width: $tablet-width) {
    width: 429px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    margin: 20px 5% 0;
  }
}

.page-main__video img {
  position: absolute;
  top: 282px;
  left: 50%;
  transform: translate(-50%);
}
