.page-header {
  height: 825px;
  background-color: $main-black;
  background-image: url("../img/Header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.page-header__navigation-list {
  list-style-type: none;
}

.page-header__navigation-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $navigation-text;
}
.page-header__navigation-toggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: $desktop-width-only) {
      display: none;
  }
}

.page-header__promo {
  border: 1px solid yellowgreen;

  color: $main-white;
}

.page-header__promo-logo-container {
  width: 68px;
  height: 21px;
  background-image: url("../img/logo.svg");
}

.page-header__promo h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
}

.page-header__promo p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
}
