.page-footer {
  text-align: center;
}

.page-footer__promo {
  margin-top: 248px;

  @media (max-width: $tablet-width) {
    margin-top: 155px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 36%;
  }
}

.page-footer__promo h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $footer-bold-text;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.page-footer__promo p {
  width: 555px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 17px;
  line-height: 31px;
  color: $footer-ordinary-text;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    width: auto;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    margin: 20px 16px 0;
    width: auto;
  }
}

.page-footer__map {
  margin: 42px 35px 0;
  height: 530px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    margin: 20px 0 0;
    height: 250px;
  }
}

.page-footer__map img {
  object-fit: cover;
  height: 100%;
}

.page-footer__contacts {
  margin: 38px 0 55px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.page-footer__contacts-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: auto;
  padding: 0 10px 0 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 23px;
    align-items: center;
    margin: 31px auto 51px;
    width: auto;
    padding: 0;
  }
}

.page-footer__contacts-item {
  display: flex;
  align-items: center;
}

.page-footer__contacts-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $contacts-text;

  &:hover {
    color: $main-black;

    & svg {
      opacity: 0.7;
    }
  }
}

.page-footer__contacts-icon {
  stroke: $main-green;
  fill: none;

  &--mail {
    fill: $main-green;
  }
}
