.page-header {
  height: 825px;
  background-color: $main-black;
  background-image: url("../img/Header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
