// COLORS
$main-black: #000000;
$footer-bold-text: #1f1f1f;
$video-block-background: #131314;
$footer-ordinary-text: rgba(0, 0, 0, 0.7);
$main-white: #ffffff;
$js-navigation-text: #48494d;
$js-navigation-background: #f6f6f6;
$main-green: #0ad9c6;
$main-red: #ff0000;
$input-border: #c9ccd4;
$gray-background: #f6f7f9;
$contacts-text: rgba(0, 0, 0, 0.5);
$navigation-text: rgba(255, 255, 255, 0.7);
$navigation-underline: rgba(255, 255, 255, 0.2);
$placeholder-text: rgba(28, 28, 28, 0.5);

// VIEWPORTS
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
