// COLORS
$main-black: #000000;
$main-white: #FFF;
$navigation-text: rgba(255, 255, 255, .7);

// VIEWPORTS
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
