// COLORS
$main-black: #000000;
$footer-bold-text: #1F1F1F;
$footer-ordinary-text: rgba(0, 0, 0, 0.7);
$main-white: #FFF;
$js-navigation-text: #48494D;
$js-navigation-background: #F6F6F6;
$main-green: #0AD9C6;
$contacts-text: rgba(0, 0, 0, .5);
$navigation-text: rgba(255, 255, 255, .7);
$navigation-underline: rgba(255, 255, 255, 0.2);

// VIEWPORTS
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
